.moviescategory {
	flex: 1;
	margin-left: auto;
	padding-bottom: 40px;
	position: relative;
}

.moviescategory h2 {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 700;
	font-size: 24px;
	padding: 40px 60px 80px 40px;
	position: sticky;
	top: 87px;
	z-index: 6;
	background-color: var(--background-color);
}

.moviecards{
	display: flex;
	gap: 20px;
	overflow-x: scroll;
	height: auto;
	padding: 20px 0;
}

@media (min-width: 768px) {
	.moviescategory h2 {
		padding: 40px 60px 40px 40px;
	}
}